<a href="https://colab.research.google.com/github/VijayDassss/Python-Practice-/blob/main/NewProject1Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#I am Going To Work on Netflix Data To Find which type of Genre is having a good view
#STEP 1
#Proble Solving
#check rating
#check how many peaple had rated that particular Title
#check viewer ship

In [30]:
#STEP2
#Import Data In Colab To work On
import pandas as pd # to convert dat in to DataFrame Row and Coloum
import numpy as np #to perform task on numerical operator
from google.colab import drive # to import data from drive to google colab
drive.mount('/content/drive') # to mounth data in google colab
file_path='/content/drive/MyDrive/Data Set for Project/total_netflix_2023 new.csv.zip'
#here i had mounted my data set with google colab to do futher research

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [58]:
#STEP3
#Open top 5  Row and Coloum of DataFrame To Understand Data Clearly
Netflix_df=pd.read_csv(file_path)#convert data in to DataFrame
Netflix_df.head()#used to import top 5 data to understand DataFrame

,Title,Available Globally?,Release Date,Hours Viewed,Number of Ratings,Rating,Genre,Key Words,Description
0,The Night Agent: Season 1,Yes,2023-03-23,812100000,7696.0,6.0,"Biography, Drama, History","persian empire,empire,5th century b.c.,achaeme...",The film follows headstrong Ginny who meets Su...
1,Ginny & Georgia: Season 2,Yes,2023-01-05,665100000,5216.0,5.7,"Comedy, Drama,Romance","producer,three word title,headstrong,arranged ...","Betrothed against her will to King George, you..."
2,The Glory: Season 1 // 더 글로리: 시즌 1,Yes,2022-12-30,622800000,11869.0,8.4,['Short'],"prequel,queen,historical,england,queen charlot...",A holiday romantic comedy that captures the ra...
3,Wednesday: Season 1,Yes,2022-11-23,507700000,50077.0,7.4,"['Drama', 'History', 'Romance']","christmas,coming out,holidays,lesbian relation...",The film follows headstrong Ginny who meets Su...
4,Queen Charlotte: A Bridgerton Story,Yes,2023-05-04,503000000,45624.0,6.6,"['Comedy', 'Romance']","telenovela,drug trafficking,cartel,femme fatal...","While fleeing from dangerous assailants, an as..."

In [ ]:
#STEP4
#now start with Data Cleaning
#Data Cleaning
Netflix_df.isna()
#as we can see there is not any missing value in our DataSet

In [ ]:
#STEP5
#now lets find Duplicate Value in DataSet
drop_duplicated=Netflix_df.duplicated().sum()#we had sum all the duplicate data to find number of duplicates in our Dataset
drop_duplicated
#as we can see there are 2 duplicate values in our DataSet

In [53]:
#STEP6
#removing duplicate value
#Removing Duplicate
Netflix_df.drop_duplicates(inplace=True)
#By completing This Process we can see our Data Cleaning Part is Completed

In [ ]:
#as we know to perform a boxplot for outlier we should have data in numerical format
#lets check data type of  Release Date and Hours Viewed
def Find_Unique_Data(n,x):# i had made a function over here to see the type of all the coloum as per our need
  unique_data_type=np.unique(n[x].apply(lambda x: type(x).__name__))
  print(f"Data type of {x} is {unique_data_type}")
type1=Find_Unique_Data(Netflix_df,"Release Date")
type2=Find_Unique_Data(Netflix_df,"Hours Viewed")
# as we can see both of this data is in str fromat on which we cant perform boxplot

In [ ]:
#now lets make function to convert datatype to numeric to perform boxplot
def Convert_innumeric_dtype(n,x):
  n[x] = pd.to_numeric(n[x], errors='coerce')
  print(f"Data type of {x} is been to {n[x]} ")
Convert1=Convert_innumeric_dtype(Netflix_df,"Release Date")
Convert2=Convert_innumeric_dtype(Netflix_df,"Hours Viewed")

In [128]:
#STEP7
import matplotlib.pyplot as plt
import seaborn as sns
import seaborn as sns
import matplotlib.pyplot as plt

# Assuming Netflix_df is your DataFrame
# Replace 'Title' and 'Number of Ratings' with the actual column names in your DataFrame

# Create a boxplot using Seaborn
plt.figure(figsize=(12, 6))
sns.boxplot(x='Number of Ratings', y='Title', data=Netflix_df)

# Set plot labels and title
plt.xlabel('Number of Ratings')
plt.ylabel('Title')
plt.title('Boxplot of Number of Ratings by Title')

# Show the plot
plt.show()

TypeError: ignored

Unique data types in the column: ['str']